body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
div.board {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
ul {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  position: relative;
}
ul li {
  list-style: none;
  padding: 0;
  width: 100px;
  height: 100px;
}
ul li div {
  margin: 5px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  height: calc(90%);
}
ul li div:hover {
  background-color: #efefef;
}
ul li div i.fa {
  font-size: 32px;
  line-height: 90px;
}
.temp {
  border: 3px solid green;
}
